autopep8
certifi
charset-normalizer
click
et-xmlfile
Flask==2.3.2
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openai==0.27.0
openpyxl==3.0.9
pandas
pandas-stubs
pycodestyle
python-dateutil
python-dotenv
pytz
requests
six
toml
tqdm
urllib3
Werkzeug
httpx[socks]
OpenAIAuth==0.2.0
asyncio
prompt-toolkit
tiktoken>=0.3.0
praw